@charset "UTF-8";
/* Títulos*/
h2 {
  color: #bdb6aa;
  font-size: 20pt;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-right: 20px; }

h3 {
  color: #bdb6aa;
  font-style: normal;
  font-size: 16pt;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: capitalize;
  margin-top: 20px;
  margin-bottom: 20px;
  animation-name: efecto2;
  animation-iteration-count: infinite;
  animation-duration: 3s; }

/* Cuerpo de las secciones*/
/*Inicio*/
.containerInicio {
  margin-bottom: 5px; }

.producto-del-mes {
  margin-top: 100px; }

.container-texto {
  margin-top: 50px; }

.container-texto__cuadrado-texto--h2 {
  display: flex;
  justify-content: center; }

.container-texto__cuadrado-texto {
  background-color: #fcb2bd;
  width: 500px;
  height: 40vh;
  color: white;
  font-size: 18pt;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin: 5px; }

.destacados-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 50px; }

.destacados-imagenes {
  margin: 10px; }

/*Productos*/
div h2 {
  margin-top: 50px; }

.tabla {
  font-weight: normal;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
  background-color: #fcb2bd;
  width: 80%;
  color: white;
  line-height: 20px;
  border: solid 1px white;
  padding: 5px;
  margin-left: 150px;
  margin-top: 20px;
  line-height: 30px; }

/* Galeria */
/*Contacto*/
div h2 {
  margin-top: 100px; }

.formulario-container {
  margin-bottom: 10px;
  margin-top: 50px;
  margin-left: 30rem; }

.formulario-container__formulario {
  background-color: #fcb2bd;
  width: 600px;
  height: 650px;
  color: white;
  font-weight: bold;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin: 10px; }

.formulario-container__formulario--label {
  display: block;
  margin: 7px; }

.comentarios {
  margin: 10x; }

/*Galeria*/
.containerPrincipalGaleria {
  margin-top: 90px; }

h2 p {
  margin: 20px;
  padding: 20px; }

/*Preguntas Frecuentes*/
.containerPrincipalPreguntas {
  margin-top: 100px; }

.preguntas-container {
  display: flex;
  justify-content: center; }

.preguntas-container__preguntasFrecuentes {
  /* Elemento */
  color: #ec8c9c;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  line-height: 30px;
  display: inline;
  text-decoration: none;
  margin: 10px 10px; }

/* Modificadores */
.preguntas-container__preguntasFrecuentes--pregunta {
  font-style: italic; }

.preguntas-container__preguntasFrecuentes--respuesta {
  font-style: normal; }

.logo1 {
  margin-left: 600px; }

/* ERROR 404*/
.container-error {
  background-image: url(../../imagenes/error2.jpg);
  width: 100%;
  height: 700px;
  display: flex; }

.texto-error {
  background-color: #dbd4c6;
  width: 600px;
  height: 300px;
  border: white solid;
  margin-left: 20%;
  margin-top: 15%;
  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  font-weight: bold;
  color: white;
  text-align: center; }

.error404 {
  text-transform: uppercase;
  font-size: 22pt; }

/*Footer*/
.pie {
  background-color: #e2daca;
  width: 100%;
  height: 100px;
  color: white;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center; }

/*GRID*/
/* Sección Contacto */
.formulario-container {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-template-rows: minmax(100px, auto);
  margin-bottom: 5px;
  grid-gap: 1rem; }

/* Sección Inicio */
.containerInicio {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  grid-gap: 1rem; }

/*Hijos*/
.producto-del-mes {
  grid-area: producto-del-mes;
  justify-self: center; }

.container-texto__cuadrado-texto {
  grid-area: texto;
  justify-self: center; }

.destacados-container {
  grid-area: destacados-imagenes;
  justify-self: center; }

.pie {
  grid-area: footer;
  justify-self: center; }

/* Sección Productos*/
.containerPrincipalProductos {
  display: grid;
  grid-template-columns: 1fr 4fr 1fr;
  grid-auto-rows: minmax(100px, auto);
  margin-bottom: 5px;
  grid-gap: 1rem; }

/* RESPONSIVE */
/* MOBILE */
@media (max-width: 576px) {
  h2 {
    margin-top: 200px; }
  /* INICIO */
  .containerInicio {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10%;
    margin-bottom: 5px;
    grid-gap: 1rem; }
  .producto-del-mes {
    margin-top: 150px; }
  h2 {
    font-size: 28pt; }
  .container-texto {
    margin-top: 100px; }
  .cuadrado-texto {
    width: 700px; }
  div h3 {
    font-size: 24pt; }
  .pie {
    font-size: 18pt;
    width: 100%;
    height: 150px;
    margin-bottom: 0pt; }
  /* LISTA DE PRODUCTOS */
  div h2 {
    margin-top: 120px; }
  .tabla {
    width: 90%;
    margin-left: 100px; }
  .pie {
    width: 90vh; }
  /* CONTACTO */
  .formulario-container {
    margin-left: 0px;
    margin-right: 500px; }
  /* ERROR 404 */
  .container-error {
    background-image: url(../../imagenes/error2.jpg);
    width: 100%;
    height: 600px; }
  .texto-error {
    width: 2000px;
    height: 200px;
    margin-left: 0px;
    margin-right: 80px;
    margin-top: 150px;
    font-size: 8pt; } }

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  /* INICIO */
  .containerInicio {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 10%;
    margin-bottom: 5px;
    grid-gap: 1rem; }
  h2 {
    font-size: 30pt; }
  .container-texto {
    margin-top: 100px; }
  .cuadrado-texto {
    width: 700px;
    font-size: 24pt; }
  .destacados-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px; }
  div h3 {
    font-size: 24pt; }
  .pie {
    font-size: 20pt;
    text-align: center;
    width: 100vh;
    height: 150px; }
  /*LISTA DE PRODUCTOS */
  div h2 {
    margin-top: 100px; }
  /* CONTACTO */
  .formulario-container {
    margin-left: 0px;
    margin-right: 500px; }
  /*ERROR 404*/
  .container-error {
    background-image: url(../../imagenes/error2.jpg);
    width: 100%;
    height: 1000px; }
  .texto-error {
    width: 100%;
    height: 350px;
    margin-right: 250px;
    margin-top: 250px; } }

/* Desktop */
@media (min-width: 992px) {
  /* INICIO */
  .containerInicio {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: 100%;
    margin-bottom: 5px;
    grid-gap: 1rem; }
  .producto-del-mes {
    margin-top: 100px; }
  .container-texto__cuadrado-texto {
    margin-left: 33%; }
  /* PRODUCTOS */
  .containerPrincipalProductos {
    margin-top: 50px; }
  /* ERROR 404 */
  .texto-error {
    margin-left: 350px; } }
