@charset "UTF-8";
/* DESKTOP */
/* Cuerpo de las secciones*/
/*Inicio*/
.fondo {
  background-image: url(../../imagenes/fondo-01.svg);
  height: 90%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  overflow-x: hidden; }

.body-faq {
  background-image: url(../../imagenes/fondo-01.svg);
  height: 50%; }

.lanzamientos-titulo {
  color: #bdb6aa;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 28pt;
  font-weight: bold;
  margin-bottom: 50px;
  display: flex;
  justify-content: center; }

.producto-del-mes {
  margin-top: 100px;
  width: 100%; }

#carouselExampleIndicators {
  width: 100%; }

.container-texto {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%; }

.container-texto__container--titulo {
  color: #bdb6aa;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  display: flex;
  justify-content: center;
  font-size: 24pt; }

.container-texto__cuadrado-texto {
  background-color: #fcb2bd;
  border-radius: 10px;
  width: 520px;
  height: 45vh;
  color: white;
  font-size: 18pt;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 10px;
  padding-top: 15px; }

.destacados-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 100px; }

.destacados-titulo {
  color: #bdb6aa;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 18pt;
  text-transform: capitalize;
  margin-top: 70px;
  margin-bottom: 15px;
  animation-name: efecto2;
  animation-iteration-count: infinite;
  animation-duration: 3s; }

/* Animación - Transform: translate */
@keyframes efecto2 {
  0% {
    transform: translateX(0); }
  50% {
    transform: translateX(-1em); }
  100% {
    transform: translateX(0.5em); } }

.destacados-imagenes {
  margin: 10px; }

/*Productos*/
.container .productos-titulo {
  color: #bdb6aa;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  font-size: 26pt;
  font-weight: bold;
  display: flex;
  justify-content: center; }

.tabla {
  background-color: #fcb2bd;
  width: 80%;
  color: white;
  line-height: 20px;
  border: solid 1px white;
  padding: 5px;
  margin-top: 20px;
  line-height: 30px;
  font-weight: normal;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
  border-radius: 10px;
  margin-bottom: 100px; }

/*Contacto*/
.contacto-titulo {
  color: #bdb6aa;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  margin-top: 100px;
  font-size: 26pt;
  font-weight: bold;
  text-transform: uppercase; }

.formulario-container {
  margin-bottom: 100px;
  margin-top: 30px; }

.formulario-container__formulario {
  background-color: #fcb2bd;
  width: 600px;
  height: 650px;
  color: white;
  font-weight: bold;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
  padding: 10px;
  margin: 10px;
  border-radius: 10px; }

.formulario-container__formulario--label {
  display: block;
  margin: 7px; }

.comentarios {
  margin: 10x; }

/*Galeria*/
h3 {
  color: #bdb6aa;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  font-size: 16pt;
  text-transform: capitalize;
  margin-top: 100px;
  margin-bottom: 15px; }

.containerPrincipalGaleria {
  margin-top: 50px;
  margin-bottom: 100px; }

.galeria-titulo {
  color: #bdb6aa;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  margin-top: 100px;
  font-size: 26pt;
  font-weight: bold; }

/*Preguntas Frecuentes*/
.faq-titulo {
  color: #bdb6aa;
  font-style: normal;
  font-family: "Open Sans", sans-serif;
  text-align: center;
  text-transform: uppercase;
  font-size: 26pt;
  font-weight: bold;
  display: flex;
  justify-content: center; }

.containerPrincipalPreguntas {
  margin-top: 100px; }

.preguntas-container {
  display: flex;
  justify-content: center; }

.preguntas-container__preguntasFrecuentes {
  /* Elemento */
  color: #ec8c9c;
  font-size: 14pt;
  font-family: "Open Sans", sans-serif;
  text-align: left;
  line-height: 30px;
  display: inline;
  text-decoration: none;
  margin: 10px 10px; }

/* Modificadores */
.preguntas-container__preguntasFrecuentes--pregunta {
  font-style: italic;
  text-decoration: none;
  margin-bottom: 5px; }

.preguntas-container__preguntasFrecuentes--respuesta {
  font-style: normal;
  list-style: none;
  text-decoration: none;
  margin-bottom: 15px; }

/* ERROR 404*/
.container-error {
  background-image: url(../../imagenes/error2.jpg);
  width: 100%;
  height: 700px; }

.container-error .texto-error {
  background-color: #dbd4c6;
  width: 100%;
  height: 250px;
  border: white solid;
  margin-top: 15%;
  font-family: "Open Sans", sans-serif;
  font-size: 18pt;
  font-weight: bold;
  color: white;
  text-align: center;
  display: flex;
  justify-content: center; }

.error404 {
  text-transform: uppercase;
  font-size: 22pt; }

/*Footer*/
.pie {
  background-color: #e2daca;
  width: 100%;
  height: 100%;
  color: white;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 0px;
  padding-right: 10px;
  padding-left: 10px;
  position: sticky;
  left: 0%;
  bottom: 0%; }

.pie-preguntas {
  background-color: #e2daca;
  width: 100%;
  color: white;
  font-weight: normal;
  font-family: "Open Sans", sans-serif;
  font-size: 12pt;
  margin-top: 50px;
  padding-top: 15px;
  padding-bottom: 5px;
  padding-right: 10px;
  padding-left: 10px;
  position: fixed;
  left: 0%;
  bottom: 0%; }

/* RESPONSIVE */
/* MOBILE */
@media (max-width: 576px) {
  /* INICIO */
  .producto-del-mes h1 {
    font-size: 18pt;
    text-align: center;
    width: 100%; }
  #carouselExampleIndicators {
    display: flex;
    justify-content: center; }
  .producto-del-mes {
    margin-top: 100px;
    width: 100%; }
  .container-texto__container--titulo {
    margin-top: 50px;
    text-align: center;
    font-size: 16pt; }
  .container-texto__cuadrado-texto {
    width: 310px;
    height: 270px;
    font-size: 12pt;
    margin-top: 10px;
    padding-top: 10px; }
  .destacados-titulo {
    font-size: 16pt;
    display: flex;
    justify-content: center; }
  .destacados-container {
    display: flex;
    justify-content: center; }
  /* LISTA DE PRODUCTOS */
  .container .productos-titulo {
    margin-top: 120px;
    font-size: 18pt;
    display: flex;
    justify-content: center; }
  .tabla {
    width: 100%;
    font-size: 12pt; }
  /* PREGUNTAS FRECUENTES */
  .faq-titulo {
    margin-top: 100px;
    font-size: 18pt;
    display: flex;
    justify-content: center; }
  .preguntas-container {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 50px; }
  .preguntas-container__preguntasFrecuentes {
    font-size: 12pt; }
  .preguntas-container__preguntasFrecuentes--pregunta {
    margin-bottom: 5px; }
  .preguntas-container__preguntasFrecuentes--respuesta {
    margin-bottom: 15px; }
  /* CONTACTO */
  .contacto-titulo {
    width: 100%;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    font-size: 18pt; }
  .formulario-container {
    margin-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center; }
  .formulario-container__formulario {
    width: 100%;
    height: 700px; }
  /* GALERIA */
  .galeria-titulo {
    margin-bottom: 50px;
    font-size: 18pt; }
  .containerPrincipalGaleria {
    margin-top: 5px;
    width: 100%; }
  .my-3 py-3 {
    width: 100%; }
  /* ERROR 404 */
  .container-error {
    background-image: url(../../imagenes/error2.jpg);
    width: 100%;
    height: 620px; }
  .container-error header {
    width: 15%; }
    .container-error header img {
      width: 100%; }
  .container-error .texto-error {
    width: 100%;
    height: 230px;
    margin-top: 100px;
    display: flex;
    justify-content: center; }
    .container-error .texto-error p {
      font-size: 12pt; }
    .container-error .texto-error .error404 {
      font-size: 18pt; } }

/* FOOTER */
.pie {
  width: 100%;
  font-size: 50pt; }

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
  /* INICIO */
  body {
    overflow-x: hidden; }
  .producto-del-mes h1 {
    font-size: 30pt;
    margin-top: 150px; }
  .producto-del-mes {
    width: 100%; }
  #carouselExampleIndicators {
    display: flex;
    justify-content: center; }
  .container-texto {
    margin-top: 100px;
    width: 100%; }
  .container-texto__cuadrado-texto {
    width: 510px;
    height: 400px;
    font-size: 20pt; }
  .container-texto__container--titulo {
    font-size: 28pt;
    display: flex;
    justify-content: center; }
  .destacados-container {
    display: flex;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 100px; }
  .destacados-titulo {
    font-size: 24pt;
    display: flex;
    justify-content: center; }
  /*LISTA DE PRODUCTOS */
  .container .productos-titulo {
    margin-top: 120px;
    font-size: 30pt;
    display: flex;
    justify-content: center; }
  .tabla .container-fluid {
    width: 100%;
    display: flex;
    justify-content: center; }
  /*PREGUNTAS FRECUENTES */
  .faq-titulo {
    font-size: 26pt;
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin-bottom: 30px; }
  .preguntas-container {
    width: 100%;
    height: 90%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px; }
  .preguntas-container__preguntasFrecuentes--pregunta {
    margin-bottom: 10px;
    font-size: 16pt; }
  .preguntas-container__preguntasFrecuentes--respuesta {
    margin-bottom: 20px;
    font-size: 16pt; }
  /* CONTACTO */
  .contacto-titulo {
    margin-top: 120px;
    font-size: 30pt;
    width: 100%; }
  .formulario-container {
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center; }
  /* GALERIA */
  .galeria-titulo {
    font-size: 30pt;
    margin-top: 120px; }
  .containerPrincipalGaleria {
    margin-top: 0px;
    width: 100%; }
  .containerPrincipalGaleria .container {
    margin-top: 0px; }
  .my-3 p-3 {
    width: 100%; }
  /*ERROR 404*/
  .container-error {
    background-image: url(../../imagenes/error2.jpg);
    width: 100%;
    height: 1000px; }
    .container-error .texto-error {
      width: 100%;
      height: 350px;
      margin-top: 250px;
      display: flex;
      justify-content: center; }
      .container-error .texto-error .error404 {
        font-size: 22pt; }
      .container-error .texto-error p {
        font-size: 18pt;
        padding-top: 20px; } }

/*FOOTER */
.pie {
  height: 60px;
  width: 100%;
  font-size: 10pt; }

.container-iconos {
  display: flex;
  justify-content: start; }

/* Desktop */
@media (min-width: 992px) {
  /* INICIO */
  /* PRODUCTOS */ }
