$marron: rgb(189, 182, 170);
$tipografia: 'Open Sans', sans-serif;

/* Títulos*/
h1 {
    color: $marron;
    font-size: 20pt;
    font-style: normal;
    font-family:$tipografia;
    text-align: center;
    text-transform: uppercase;
    margin-right: 20px;
    
}

h2 {
    color: $marron;
    font-size: 20pt;
    font-style: normal;
    font-family:$tipografia;
    text-align: center;
    margin-right: 20px;
    
}

h3 {
    color: $marron;
    font-style: normal;
    font-size: 16pt;
    font-family: $tipografia;
    text-align: center;
    text-transform: capitalize;
    margin-top: 100px;
    margin-bottom: 15px
}

.destacados-titulo {
    color: $marron;
    font-style: normal;
    font-size: 16pt;
    font-family: $tipografia;
    text-align: center;
    text-transform: capitalize;
    margin-top: 100px;
    margin-bottom: 15px;
    animation-name: efecto2;
    animation-iteration-count: infinite;
    animation-duration: 3s

} 

/* Animación - Transform: translate */

@keyframes efecto2 {
    0% {
        transform: translateX(0);
        
    }

    50% {
        
        transform: translateX(-1em);
    }
    
    100% {
        transform: translateX(0.5em);
        
}


}