$marron: rgb(189, 182, 170);
$rosa: rgb(248, 203, 210);
$tipografia: 'Open Sans', sans-serif;

/*GRID*/

/* Sección Contacto */

.containerPadre {
    display: grid;
    grid-template-columns: 100px auto 100px;
    grid-template-rows: 10%;
    margin-bottom: 5px;
    grid-gap: 1rem;

    grid-template-areas: 
    "tienda . . "
    "formulario formulario formulario"
    "footer footer footer"
    ;
}


/*Hijos*/



.tiendaOnline {
    grid-area: tienda;
    margin-left: 10px;
}

.formulario-container {
    grid-area: formulario;
    justify-self: center;
}

.footer {
    grid-area: footer;
}

/* Sección Inicio */


.containerInicio {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;

}

/*Hijos*/

.producto-del-mes {
    grid-area: producto-del-mes;
    justify-self: center;
}

.container-texto__cuadrado-texto {
    grid-area: texto;
    justify-self: center;
    
}  

.destacados-container {
    grid-area: destacados-imagenes;
    justify-self: center;
}

.pie {
    grid-area: footer;
    justify-self: center;
}

/* Sección Productos*/ 
.containerPrincipalProductos {

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 5px;
    grid-gap: 1rem;

    grid-template-areas: 
    "tienda . . "
    "tabla"
    ". texto ."
    "destacados-imagenes destacados-imagenes destacados-imagenes"
    "footer footer footer";
}

/*Hijos*/

.tiendaOnline {
    grid-area: tienda;
    height: 50px;
}
.tabla {
    grid-area: tabla;
}
.pie {
    grid-area: footer;
}