
/*GRID*/

/* Sección Contacto */

.formulario-container {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-template-rows: minmax(100px, auto);
    margin-bottom: 5px;
    grid-gap: 1rem;

}

/* Sección Inicio */

.containerInicio {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    grid-gap: 1rem;

}

/*Hijos*/

.producto-del-mes {
    grid-area: producto-del-mes;
    justify-self: center;
}

.container-texto__cuadrado-texto {
    grid-area: texto;
    justify-self: center;
    
}  

.destacados-container {
    grid-area: destacados-imagenes;
    justify-self: center;
}

.pie {
    grid-area: footer;
    justify-self: center;
}


/* Sección Productos*/ 
.containerPrincipalProductos {

    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: minmax(100px, auto);
    margin-bottom: 5px;
    grid-gap: 1rem;

}