$marron: rgb(189, 182, 170);
$rosa: rgb(248, 203, 210);
$tipografia: 'Open Sans', sans-serif;

/* RESPONSIVE */

/* MOBILE */
@media (max-width: 576px) {
    h2 {
        margin-top: 200px;
    }

    /* INICIO */
    .containerInicio{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 10%;
        margin-bottom: 5px;
        grid-gap: 1rem;

    }
    
    .producto-del-mes {
        margin-top: 150px;
        }
    

    h2 { 
        font-size: 28pt;
    }

    .container-texto {
        margin-top: 100px;
    }

    .cuadrado-texto {
        width: 700px;    
    }

  div {
      h3 {
      font-size: 24pt;
    }
    }

    .pie {
        font-size: 18pt;
        width: 100%;
        height: 150px ;
        margin-bottom: 0pt;
    }

    /* LISTA DE PRODUCTOS */ 
    div {
        h2{
            margin-top: 120px;
        }
    }

    .tabla {
        width: 90%;
        margin-left: 100px;
    }
    
    .pie {
        width: 90vh;
    }

    /* CONTACTO */

    .formulario-container {
        margin-left: 0px;
        margin-right: 500px;
    }

    /* ERROR 404 */
    .container-error {
        background-image: url(../../imagenes/error2.jpg);
        width: 100%;
        height: 600px;
    }
    .texto-error {
        width: 2000px;
        height: 200px;
        margin-left: 0px;
        margin-right: 80px;
        margin-top: 150px;
        font-size: 8pt;
    }
    
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
    /* INICIO */
    .containerInicio {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 10%;
        margin-bottom: 5px;
        grid-gap: 1rem;
    
    }

    h2 { 
        font-size: 30pt;
    }

    .container-texto {
        margin-top: 100px;
    }

    .cuadrado-texto {
        width: 700px;
        font-size: 24pt;
    
}
    .destacados-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
    }
    

  div {
      h3 {
      font-size: 24pt;
    }
    }

    .pie {
        font-size: 20pt;
        text-align: center;
        width: 100vh;
        height: 150px ;
    
    }

    /*LISTA DE PRODUCTOS */
    div {
        h2{
            margin-top: 100px;
        }
    }

    /* CONTACTO */
    .formulario-container {
        margin-left: 0px;
        margin-right: 500px;
}

    /*ERROR 404*/
    .container-error {
        background-image: url(../../imagenes/error2.jpg);
        width: 100%;
        height: 1000px;
    }
    .texto-error {
        width: 100%;
        height: 350px;
        margin-right: 250px;
        margin-top: 250px;
    }

}

/* Desktop */ 


@media (min-width: 992px) {

    /* INICIO */

   .containerInicio {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: 100%;
    margin-bottom: 5px;
    grid-gap: 1rem;
}

.producto-del-mes {
    margin-top: 100px;
}

.container-texto__cuadrado-texto {
    margin-left: 33%;

}

/* PRODUCTOS */
.containerPrincipalProductos {
    margin-top: 50px;
}

/* ERROR 404 */
.texto-error {
    margin-left: 350px;
}


}


