$marron: rgb(189, 182, 170);
$rosa: rgb(248, 203, 210);
$tipografia: 'Open Sans', sans-serif;

/* RESPONSIVE */

/* MOBILE */
@media (max-width: 576px) {
    /* INICIO */
    .producto-del-mes{
        .container {
            h2 {
                margin-left: 25px;
            }
        }
    }
    .container-texto__container--titulo {
        margin-top: 100px;
        text-align: center;
        margin-left: 150px; 
        font-size: 24pt;
    }
    #carouselExampleIndicators {
        margin-right: 200px;
        margin-left: 0%;
        width: 300px;
    }
    
    .containerInicio{
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 10%;
        margin-bottom: 5px;
        grid-gap: 1rem;

    }
    
    .producto-del-mes {
        margin-top: 150px;
        margin-left: 130px;
        }
    

    .container-texto {
        margin-top: 10px;
        margin-left: 25px;
    }

    .container-texto__cuadrado-texto {
        width: 500px;
        height: 270px;    
        font-size: 16pt;
    }

  div {
      h3 {
      font-size: 24pt;
    }
    }

    .destacados-container {
        margin-left: 200px;

    }



    .pie {
        font-size: 18pt;
        width: 100%;
        height: 120px ;
        margin-bottom: 0pt;
    }

    /* LISTA DE PRODUCTOS */ 
    div {
        h2{
            margin-top: 120px;
            margin-left: 170px;
        }
    }

    .tabla {
        width: 100%;
        margin-left: 120px;
        font-size: 12pt;
    }
    
    .pie {
        width: 90vh;
    }

    /* PREGUNTAS FRECUENTES */
    .faq-titulo {
        margin-top: 120px;
        margin-left: 180px;
    }

    .preguntas-container {
        margin-left: 100px;
        width: 100%;
    }

    .preguntas-container__preguntasFrecuentes--pregunta {
        margin-bottom: 5px;
    }

    .preguntas-container__preguntasFrecuentes--respuesta {
        margin-bottom: 15px;

    }

    /* CONTACTO */

    .formulario-container {
        margin-left: 0px;
        margin-right: 500px;
    }

    /* ERROR 404 */
    .container-error {
        background-image: url(../../imagenes/error2.jpg);
        width: 100%;
        height: 600px;
    }
    .texto-error {
        width: 2000px;
        height: 200px;
        margin-left: 0px;
        margin-right: 80px;
        margin-top: 150px;
        font-size: 8pt;
    }
    
}

/* TABLET */
@media (min-width: 768px) and (max-width: 991px) {
    /* INICIO */
    .containerInicio {
        display: grid;
        grid-template-columns: 3fr 1fr;
        grid-template-rows: 10%;
        margin-bottom: 5px;
        grid-gap: 1rem;
    
    }

    .producto-del-mes{
        .container {
            h2 {
                margin-left: 25px;
                font-size: 30pt;
            }
        }
    } 

    .producto-del-mes {
        margin-left: 200px;
    }

    .container-texto {
        margin-top: 100px;
        margin-left: 150px;
    }

    .container-texto__cuadrado-texto {
        width: 700px;
        height: 400px;
        font-size: 24pt;
    
}

    .container-texto__container--titulo {
        font-size: 28pt;
        margin-left: 40px;
    }
    .destacados-container {
        display: flex;
        flex-wrap: wrap;
        margin-top: 50px;
        margin-left: 200px;
    }
    

  div {
      h3 {
      font-size: 24pt;
    }
    }

    .pie {
        font-size: 20pt;
        text-align: center;
        width: 100vh;
        height: 120px ;
        
    
    }

    /*LISTA DE PRODUCTOS */
    div {
        h2{
            margin-top: 100px;
            margin-left: 230px;
            font-size: 30pt;
        }
    }

    .tabla {
        width: 100%;
        margin-left: 120px;
    }

    /*PREGUNTAS FRECUENTES */
    .faq-titulo {
        margin-left: 250px;
        font-size: 26pt;
    }

    .preguntas-container {
        margin-left: 170px;
        width: 100%;
    }

    .preguntas-container__preguntasFrecuentes--pregunta {
        margin-bottom: 10px;
        font-size: 20pt;
    }

    .preguntas-container__preguntasFrecuentes--respuesta {
        margin-bottom: 20px;
        font-size: 20pt;

    }


    /* CONTACTO */
    .formulario-container {
        margin-left: 0px;
        margin-right: 500px;
}

    /*ERROR 404*/
    .container-error {
        background-image: url(../../imagenes/error2.jpg);
        width: 100%;
        height: 1000px;
    }
    .texto-error {
        width: 100%;
        height: 350px;
        margin-right: 250px;
        margin-top: 250px;
    }

}

/* Desktop */ 


@media (min-width: 992px) {

    /* INICIO */

   .containerInicio {
    display: grid;
    grid-template-columns: 1fr 4fr 1fr;
    grid-auto-rows: 100%;
    margin-bottom: 5px;
    grid-gap: 1rem;
}

.producto-del-mes {
    margin-top: 100px;
}

.container-texto__cuadrado-texto {
    margin-left: 33%;

}

/* PRODUCTOS */
.containerPrincipalProductos {
    margin-top: 50px;
}

/* ERROR 404 */
.texto-error {
    margin-left: 350px;
}


}


